body{
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

button{
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 6px 24px;
    border-radius: 6px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 12px 150px;
}

.header_left{
    font-weight: bold;
}

.header_right{
    display: flex;
}

.block_one{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.text_title{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.block_information{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information_title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information_cards{
    display: flex;
    justify-content: center;
}

.citation{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e5e7eb;
}

.citation_text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.citation_author{
    font-size: 18px;
    font-weight: bold;
}

.block_cta{
    display: flex;
    justify-content: center;
}

.footer{
    text-align: center;
    margin-top: auto;
}